body{
    background-color:rgb(114, 69, 15);
}
.container{
    position: relative;
    align-items:center; /*vertical alignment*/
    justify-content: center; /*horizontal alignment*/
    display: flex;
    width: 600px;
    height: 500px;
    border: 1px solid black;

}

#android{
position: absolute;
 width: 100px;
 height:100px;

 animation-name: andy;
 animation-duration: 1s;
 animation-iteration-count:1;
 animation-timing-function:ease-in-out;
 animation-fill-mode: forwards;
 animation-delay: 3s;
}

#block1{
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: black;
}

#heart1{
    opacity: 0%;
    position:absolute;
    color:red;
    font-size: 15px;
    margin-left:160px;
    margin-bottom: 68px;
    animation-name:fade-in;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
    
    
}
#heart2{
    opacity: 0%;
    position:absolute;
    color:red;
    font-size: 15px;
    margin-left:240px;
    margin-bottom: 68px;
    animation-name:fade-in;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3s;
}

#android2{

    color:aliceblue;
    opacity: 0%;
    position:absolute;
    width:75px;
    margin-left:368px;
    margin-bottom:269px;
    animation-name:fade-in;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
    
}

#bubble{
    opacity: 0%;
    position:absolute;
    width:150px;
    margin-left:368px;
    margin-bottom:240px;
    animation-name:fade-in;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;
   
}
#bouquet{
    opacity:0%;
    position:absolute;
    width:35px;
    right:60px;
    margin-bottom:260px;
    animation-name:fade-in;
    animation-duration: 1s;
    animation-iteration-count:1;
    animation-timing-function:ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 3.5s;

}

@keyframes andy {
    0%{margin-left:0px;}
    100%{margin-left:200px;}
    
    
}

@keyframes fade-in {
    0%{opacity:0%}
    90%{opacity:0%}
    100%{opacity:100%}
}


 
